body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,226,188,1) 14%, rgba(0,212,255,1) 43%);

}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.title{
font-size: 100px;
font-style: italic;
}
